.buttons{
  display: block;
  margin:5px;
  padding:5px;
  width:100px;
  height:100px;
  background-color: aqua;

}
.button:hover{
  
  background: #eee;

}
.App > div{
  display:flex;

}
.btn{
  width:100px;
  height:50px;
  
}
.image{
  width:100px;
  height:100px;
}
.header-div{
  display:flex;
  justify-content: space-between;

}
.listItems{
  display:flex;
  gap:5px;
  list-style:none;
  justify-content: space-between;
}
.card-list{
  display:flex;
  justify-content: space-around;
}
.card{
  width:175px;
  font-size:12px;
  position:relative;
}
.card-image{
  width:100%;
  border-radius: 10px;
}

.icon-image{
  width:10px;
  height:10px;

}
.image-stats{
  width: 150px;
  height:200px;
}
.class-badge{
  position:absolute;
  top:6px;
  left:6px;
  background-color: #eee;
  padding:5px 7px;
  border-radius:2px;
  font-weight:bold;

}